{% extends "base.html" %}

{% block app_content %}
  <div class="bs-example">
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#general" class="nav-link active" data-toggle="tab">General</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="general">
        <div style="margin-top:50px; margin-bottom:50px;">
          <table>
            <tbody>
              <tr>
                <td width=* height=280>
                  <table>
                    <tbody>
                        <tr>
                            <td width="260">Username</td>
                            <td width="260">{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Organization</td>
                            <td>{{ user.organization }}</td>
                        </tr>                   
                    </tbody>
                  </table>
                </td>
                <td width="260">
                    <img class="rounded-circle z-depth-2" src="{{ user.avatar(256) }}">
                </td>
              </tr>                               
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <hr>

  <table width="100%">
    <tbody>
      <tr>
        <td>
          {% if user == current_user %}
          <a href="{{ url_for('user_update') }}"><img alt="Add" width="25px" src="{{ url_for('navigation_file', crud_id='update') }}"></a>
          {% endif %}  
        </td>
      </tr>
    </tbody>
  </table>    
{% endblock %}
